table#dbem-bookings-table tfoot td.booking-result {
	font-weight: bold;
   	background:#6D6D6D url(../../../wp-admin/images/menu-bits.gif) repeat-x scroll left top;      
	color: #eee;
}

table#dbem-bookings-table tfoot th {
	text-align: right;
	padding-right: 1em;

}    

table.dbem-rsvp-form  {
	width: 80%;
}  
table.dbem-rsvp-form th { 
	text-align: right;
	width: 35%;
}

table.dbem-rsvp-form td { 
	padding-left: 1em;
	text-align: left;
}